{% for service in fail2ban_services %}

[{{service.name}}]
enabled = {{ service.enabled if service.enabled is defined else "true" }}
{% for key, value in service.items() %}
{% if key != "enabled" %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}