; source: https://gist.github.com/acundari/9bdcf2ba0c0f8a4bf59a21d06da35612

[INCLUDES]
before = botsearch-common.conf

[Definition]
failregex = ^<HOST> \- \S+ \[[^\]]*\] \"(GET|POST|HEAD) [^"]+\" 404 .+$