[Unit]
Description=USB-IP Binding on bus id %I
After=network-online.target usbipd.service
Wants=network-online.target
Requires=usbipd.service

[Service]
Type=simple
ExecStart={{ usbip_binary_path }} bind -b %i
RemainAfterExit=yes
ExecStop={{ usbip_binary_path }} unbind -b %i  
Restart=on-failure

[Install]
WantedBy=multi-user.target
